body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
    margin: 0;
    background: white;
}

* {
    box-sizing: border-box;
}

a {
    color: #2B2D42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header */
header {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background: #ddd;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    height: 115px;
}

.inner-logo {
    cursor: pointer;
}

.inner-user {
    width: 60%;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.inner-user>div {
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 130px;
    height: 55px;
    border-radius: 8px;
}

.inner-user>div:hover {
    background: beige;
}


.infor-user .avatar {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* End Header */

/* Sider */
.sider {
    position: absolute;
    top: 115px;
    left: 0;
    width: 220px;
    min-height: calc(100% - 115px);
    background: #F3F6F9;
    margin: 0;
    padding: 20px 10px;
    padding-left: 0;
    list-style-type: none;

}

.sider .inner-icon {
    background: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.sider li {
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 15px 0;
    padding-left: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: transparent;
    transition: background 0.4s;
}

.sider li:hover {
    background: rgb(174, 242, 227);
}

.sider li a {
    font-weight: 500;
    color: black;
}
/* End Sider */

/* Content */

.content {
    position: absolute;
    left: 220px;
    height: calc(100% - 115px);
    width: calc(100% - 220px);
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content .row div {
    margin-bottom: 15px;
}

/* End Content */

/* Mange Product */
table td {
    vertical-align: middle !important;
}

.table_inner-img {
    height: 110px;
    aspect-ratio: 4/3;
}

.table_inner-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.table_inner-btn {
    max-width: 130px;
}

.table_inner-btn button {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.table_inner-btn button:last-child {
    margin-right: 0;
}

.inner-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* End Manage Product */

/* Product Detail */
.inner-img {
    position: relative;
    height: 250px;
    width: auto;
    border-radius: 7px;
    border: 2px solid #ddd;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-img .cancel {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25px;
    height: 25px;
    padding-top: 7px;
    padding-bottom: 8px;
    font-weight: 600;
    border-radius: 50%;
    background: #e1dcdce0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

.inner-img .cancel:hover {
    color: red;
}

.inner-img img {
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}

.inner-img:hover img {
    transform: scale(1.3);
}

.product-rating {
    background: #66afe9;
    width: 120px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin: 15px 0px 10px;
    height: 30px;
}

.product-rating>i {
    width: 14px;
    margin-right: 5px;
    background: #FFF;
    color: #E4E7ED;

}

.product-rating>i {
    color: yellow;
    background: transparent;
}



textarea.description {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea.description:focus {

    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 1);
}

/* End Manage Product */

/* Edit Product */

#form-edit {
    border: 2px solid green;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 9px;
}
/* End Edit Product */

/* Edit Success */
.alert-show {
    position: absolute;
    animation: show 3.5s ease-out 1 ;
}
@keyframes show {
    from {
        opacity: 0;
        visibility: hidden;
        top: 15px;
        right: -50%;
    }

    40% {
        opacity: 1;
        visibility: visible;
        right: 15px;
    }

    to {
        opacity: 0;
        visibility: hidden;
        top: 15px;
        right: 15px;
    }
}
/* End Edit Success */